<div class="reset-container">
    <div *ngIf="toastMessage" class="toast" [ngClass]="toastType">
  {{ toastMessage }}
</div>

  <div class="card">

    <h2>Reset Password 🔐</h2>

    <form (ngSubmit)="onSubmit()">

      <div class="input-group">
        <input 
          [type]="showPassword ? 'text' : 'password'"
          placeholder="New Password"
          [(ngModel)]="password"
          name="password"
          required
        />
        <span class="eye" (click)="togglePassword()">👁</span>
      </div>

      <div class="input-group">
        <input 
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirm Password"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <span class="eye" (click)="toggleConfirmPassword()">👁</span>
      </div>

      <button type="submit">Reset Password</button>

    </form>

    <p class="error" *ngIf="error">{{ error }}</p>
    <p class="success" *ngIf="success">{{ success }}</p>

  </div>
</div>