<div class="main">

  <div class="card">

    <h2>User Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

      <input
        type="email"
        placeholder="Enter Email"
        formControlName="userEmail"
      >

      <input
        type="password"
        placeholder="Enter Password"
        formControlName="password"
      >

     <button 
  type="submit"
  [disabled]="isLoading"
  class="login-btn">

  <span *ngIf="!isLoading">Login</span>

  <span *ngIf="isLoading" class="btn-loader"></span>

</button>

    </form>

    

  </div>

</div>